
body{
    font-family: roboto;
    color: #703412;
}

.header__page{

}
.header {
}
.container {
    min-height: 61px;

}
.hader__list {

}
.header-list {
    display: flex;
justify-content: center;
gap: 40px;
    
}

.header-list__item {
    font-size: 14px;
font-weight: 400;
line-height: 21px; /* 150% */
list-style: none;

}

.header-list__link {
    padding-top: 20;
    padding-bottom: 20px;
    text-decoration: none;
    color: #703412;
}

.main{

}
.hero {
}
.hero__container {
}
.hero__page {
}
.hero-page {
    padding-left: 72px;
}
.hero-page__text {
    font-size: 11px;
font-weight: 400;
line-height: 44px; /* 400% */
letter-spacing: 1.6px;
text-transform: uppercase;
padding-bottom: 21px;
padding-top: 120px;
}
.hero-page__title {
    font-size: 80px;
font-weight: 400;
line-height: 88px; /* 110% */
padding-bottom: 123px;
width: 50%;
}


.description {
    
}
.description__unit {
}
.description-unit {

}
.description-unit__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.description-unit-list {
}
.description-unit-list__item {
    width: calc(33% - 60px);
    list-style: none;
    
    
}
.description-item {
    

    

}

.description-item img{
   width: 100%;
}
.description-item__title {
    font-size: 24px;
font-weight: 400;
line-height: 28.8px; 
margin-bottom: 11px;
}
.desctiption-item__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 122px;
   
    
}

.footer {
    background: #084935;
    
    padding-top: 120px;
}
.footer__unit {
}
.footer-unit {
  
    
}
.footer-unit__text {
    color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 18px; /* 150% */
letter-spacing: 1.6px;
text-transform: uppercase;
justify-content: start;
padding-left: 72px;

}
.footer-unit__title {
    color: #FFF;
font-size: 30px;
font-weight: 400;
line-height: 38.4px; /* 128% */
margin-bottom: 120px;
padding-left: 72px;



}

.footer__menu-wraper{
    display: flex;
    padding-left: 72px;

}
.footer-unit__list {
    list-style: none;
    display: flex;
  flex-direction: column;    
  padding: 0;
  margin: 0;
  width: 25%;
    
    
    
}
.footer-unit__item {
    flex-direction: column;

}
.footer-unit-item {
    
    
    

}
.footer-unit-item__link {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-decoration: none;

    
}

.copy {
    margin-top: 100px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    padding-left: 72px;

}
.copy__text {
    padding: 20px 0;
    color: #FFF;
}